* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F0F0F7;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-size: 54px;
}

#pokedex {
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.card {
  width: 50%;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin-bottom: 50px;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #FDDFDF;
}

.grass {
  background-color: #DEFDE0;
}

.electric {
  background-color: #FCF7DE;
}

.water, .ice {
  background-color: #DEF3FD;
}

.ground {
  background-color: #f4e7da;
}

.rock {
  background-color: #d5d5d4;
}

.fairy {
  background-color: #fceaff;
}

.poison {
  background-color: #98d7a5;
}

.bug {
  background-color: #f8d5a3;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #eaeda1;
}

.flying {
  background-color: #F5F5F5;
}

.fighting {
  background-color: #E6E0D4;
}

.normal {
  background-color: #F5F5F5;
}
